.custom-card {
  max-height: 400px; /* Altura máxima para dispositivos maiores */
  overflow: hidden; /* Oculta o conteúdo que excede a altura do card */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo em coluna */
}

.custom-card-img {
  max-height: 200px; /* Ajuste a altura da imagem */
  object-fit: contain; /* Mantém a proporção da imagem */
}

.card-body {
  flex: 1; /* Permite que a área do corpo do card cresça */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo em coluna */
  justify-content: space-between; /* Espaço entre o conteúdo e o botão */
  padding: 0.5rem; /* Ajusta o padding do card */
}

.card-title {
  white-space: nowrap; /* Impede que o texto quebre a linha */
  overflow: hidden; /* Oculta o texto que ultrapassar os limites do container */
  text-overflow: ellipsis; /* Adiciona os "..." no final do texto */
}


.card-text {
  display: -webkit-box; /* Utiliza um modelo de box para truncar */
  -webkit-box-orient: vertical; /* Orientação do box */
  -webkit-line-clamp: 3; /* Número máximo de linhas a serem exibidas */
  overflow: hidden; /* Oculta o texto que não cabe */
  text-overflow: ellipsis; /* Adiciona reticências */
}

/* Consultas de mídia para dispositivos móveis */
@media (max-width: 576px) {
  .custom-card {
    max-height: 300px; /* Altura máxima menor para dispositivos móveis */
  }

  .custom-card-img {
    height: 150px; /* Altura da imagem menor em dispositivos móveis */
  }

  .card-title {
    font-size: 1rem; /* Tamanho do título menor em dispositivos móveis */
  }

  .card-text {
    -webkit-line-clamp: 2; /* Menos linhas exibidas em dispositivos móveis */
  }
}

.image-container {
  overflow: hidden; /* Evita que a imagem ultrapasse os limites do card */
}

.hover-image {
  transition: transform 0.3s ease; /* Transição suave para o efeito de transformação */
}

.image-container:hover .hover-image {
  transform: scale(1.5); /* Aumenta a imagem para 110% do tamanho original */
}
