/* style.css */

/* Logo */
.logo-img {
  width: 150px;
  height: auto;
}

.nav-link {
  color: #fff;
  transition:  color 0.3s;
}

.nav-link:hover {
  text-shadow: 0 0 10px #fff,
               0 0 20px #ffffff,
               0 0 30px #000000, 
               0 0 40px #000000,
               0 0 50px #ffffff;
}