.nav-link--black:hover {
  text-shadow: 0 0 10px #000000,
               0 0 20px #000000,
               0 0 30px #000000, 
               0 0 40px #000000,
               0 0 50px #000000;
}

.nav-link.active {
  text-decoration: line-through;
  background-color: #000000 !important;
  color: #fff !important;
}


/* Definição da animação de entrada e saída */
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
